<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="AdoNetWinFormDB" connectionString="Data Source=.;Initial Catalog=AdoNetWinFormDB;Uid=sa;Pwd=1234567"/>
	</connectionStrings>
</configuration>